<ion-view view-title="Acerca de">
    <ion-content>
        <div class="item item-divider"> Acerca de </div>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/udea.png">
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <a class="item item-thumbnail-right" href="#">
                <h1> Creado por: </h1>
                <p>Carolina Isaza, Sebastián Jiménez y Jaime Londoño</p>
                <p>Proyecto Integrador 1</p>
                <p>Ingeniería de Sistemas</p>
                <p>Universidad de Antioquia</p>
            </a>
        </div>
    </ion-content>
</ion-view>
