<ion-view view-title="Inicio">
    <ion-content>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div class="list" style="margin-top: 20px;">
            <button class="button button-outline button-block button-positive" ng-click="nivel()"> Ir al Mapa</button>
            <button class="button button-block button-positive" ng-click="irModificar()"> Modificar perfil</button>
            <button class="button button-block button-positive" ng-click="irPerfil()"> Visualizar perfil</button>
            <button class="button button-block button-positive" ng-click="logout()"> Cerrar sesión</button>
            
        </div>
    </ion-content>
</ion-view>
