<ion-view view-title="Login">
    <ion-content>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div class="list" style="margin-top: 20px;">
            <div class="item item-divider icon ion-email">
                Correo electrónico
            </div>
            <label class="item item-input item-stacked-label">
                <input type="email" ng-model="user.email">
            </label>
            <div class="item item-divider icon ion-key">
                Contraseña
            </div>
            <label class="item item-input item-stacked-label">
                <input type="password" ng-model="user.contrasena">
            </label>
            <button class="button button-block button-positive" ng-click="ingresar()"> Ingresar</button>
            <button class="button button-block button-outline button-dark" ng-click="irRegistro()">Crear una cuenta</button>
            <button class="button button-small button-block button-clear button-dark" ng-click="irPassword()">Olvidé mi contraseña</button>
            </button>
        </div>
    </ion-content>
</ion-view>
