<ion-view view-title="Primer nivel">
    <ionContent header-shrink scroll-event-interval="5">
        <div style="height: 45px;"></div>
        <ion-scroll zooming="true" direction="xy" style="height: 100%; width: 100%;" has-bouncing="false">
            <div style="width: 1920px; height: 1080px; background: url('img/primerNivel.jpg')"></div>
            <button class="reto3 button button-icon" ng-click="reto()"><img src="img/reto.png"></img>
            </button>
            <button class="preguntaPos button button-icon" ng-click="irPreguntas()"><img src="img/pregunta.png"></img>
            </button>
        </ion-scroll>
        
        <ionContent>
        
</ion-view> 

