<ion-view view-title="Recuperar contraseña">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="primary">
            <button class="button button-clear icon ion-arrow-left-c" ng-click="goBack()">
                Volver
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div class="list" style="margin-top: 20px;">
            <div class="item item-divider icon ion-email">
                E-Mail
            </div>
            <label class="item item-input item-stacked-label">
                <input type="text" ng-model="user.email">
            </label>
                <button class="button button-block button-positive" ng-click="enviar()">Enviar</button>
        </div>
    </ion-content>
</ion-view>
