<ion-view view-title="Reto">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>

    <div class="list" ng-init="verFormulario()">
            <div class="item item-divider"> 
                {{ respuesta.pregunta1 }}
            </div>               
            <ion-radio ng-repeat="item in respuesta.data1" ng-model="respuesta.respuesta1" ng-value="item" name="respuesta1">
              {{item}}
            </ion-radio>
            <div class="item item-divider" style="text-align: center;">
                {{res1}}
            </div>
            <div class="item item-divider">
            </div>
            <div class="item item-divider"> 
               {{ respuesta.pregunta2 }}
            </div>
            <ion-radio ng-repeat="item in respuesta.data2" ng-model="respuesta.respuesta2" name="respuesta2" ng-value="item">
              {{item}}
            </ion-radio>
            <div class="item item-divider" style="text-align: center;">
                {{res2}}
            </div>
            <div class="item item-divider">
            </div>
           <button class="button button-block button-positive" ng-click="calificarRespuestas()">Calificar</button>

        </div>
</ion-content>