<ion-view view-title="Subir Artículo">
    <ion-content>
        <div style="text-align: center; margin-top: 20px;">
            <img src="img/ionic.png" />
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <p>Para finalizar la investigación debes subir un artículo.</p>
            <p>El archivo debe estar en formato pdf y su tamaño no debe ser mayor a 8MB.</p>
        </div>
        <browse-work></browse-work>
        <!--Directive 1-->
    </ion-content>
</ion-view>
